<div class="row g-4">

    <div class="col-md-6 step">
        <div class="step-icon">
            <img src="/image1.png" alt="Citoyen signale un problème">
        </div>
        <p>Pour signaler un problème le citoyen accède au site web <a href="www.mopandj.com">www.mopandj.com</a></p>
    </div>

    <div class="col-md-6 step">
        <div class="step-icon">
            <img src="/images/phone.png" alt="Centre d'alerte">
        </div>
        <p>Il sélectionne la catégorie du problème d'assainissement à signaler et le quartier où il se trouve.</p>
    </div>

    <div class="col-md-6 step">
        <div class="step-icon">
            <img src="/image3.jpg" alt="OSC informée">
        </div>
        <p>
            Dans le centre d'alerte, la Commune du 9ème arrondissement et les OSC reçoivent l'alerte et ils préparent la
            prise en en charge du problème.
        </p>
    </div>

    <div class="col-md-6 step">
        <div class="step-icon">
            <img src="/image4.jpg" alt="Agents interviennent">
        </div>
        <p>Selon les alertes priorisées, une équipe des agents responsables se déplace sur le site pour résoudre le
            problème. </p>
    </div>

    <div class="col-12 step">
        <div class="step-icon">
            <img src="/image5.jpg" alt="Mise à jour du site">
        </div>
        <p>Le citoyen peut suivre l'avancement de son alerte selon son état de résolution.</p>
    </div>

</div>