    <section class="py-5 bg-light text-center">
      <div class="container">
        <h2 class="mb-4">Nos Partenaires</h2>
        <div class="row justify-content-center align-items-center">
                    <!-- Logo 4 -->
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <img src="/partenaire/3.png" alt="Partenaire 4" class="img-fluid" style="max-height: 80px;">
          </div>
          
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <img src="/partenaire/4.png" alt="Partenaire 4" class="img-fluid" style="max-height: 80px;">
          </div>
                    <!-- Logo 2 -->
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <img src="/partenaire/2.png" alt="Partenaire 2" class="img-fluid" style="max-height: 80px;">
          </div>
          <!-- Logo 1 -->
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <img src="/partenaire/1.png" alt="Partenaire 1" class="img-fluid" style="max-height: 80px;">
          </div>


        </div>
      </div>
    </section>